{{inc src="head.hbs"}}

<body id="page-top">
<div class="header-wrap {{#if_eq page.url '/index.src'}}home{{/if_eq}}">

    {{inc src="header.hbs"}}

    {{#if_eq page.url '/index.src'}}

        {{inc src="home/hero.hbs"}}

    {{/if_eq}}
</div>

<div class="site-body" role="main">
    {{ content }}
</div>

{{inc src="footer.hbs"}}

</body>
</html>
