---
layout: "default.hbs"
---

{{#section name="before-close-head"}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
{{/section}}

{{inc src="docs-nav.hbs"}}
<section id="top" class="wrapper code-example">
{{#if page.sidebar}}
<div class="container">
    <article class="doc-wrapper">
        <div class="three-quarters">
            <input class="input input--text doc-search" type="text" id="search-input" placeholder="Search docs...">
            <h1 class="page-title">{{page.title}}</h1>
            {{ content }}
        </div>
        <div class="one-quarter">
            {{inc src=page.sidebar}}
        </div>
    </article>
</div>
{{else}}
<div class="container">
    <article class="doc-wrapper">
        <h1>{{page.title}}</h1>
        {{ content }}
    </article>
</div>
{{/if}}

</section>

{{#section name="before-close-body"}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
    <script type="text/javascript">
    docsearch({
        apiKey: 'a5c2ad2440b6b5c621ecff9023de9154',
        indexName: 'browsersync',
        inputSelector: '#search-input',
        debug: false // Set debug to true if you want to inspect the dropdown
    });
    </script>
{{/section}}
