---
layout: "default.hbs"
---
{{inc src="docs-nav.hbs"}}
<section id="top" class="wrapper code-example">
{{#if page.sidebar}}
<div class="container">
    <article class="doc-wrapper">
        <div class="three-quarters">
            <h1 class="page-title">{{page.title}}</h1>
            {{ content }}
        </div>
        <div class="one-quarter">

            {{inc src=page.sidebar}}
        </div>
    </article>
</div>
{{else}}
<div class="container">
    <article class="doc-wrapper">
        <h1>{{page.title}}</h1>
        {{ content }}
    </article>
</div>
{{/if}}

</section>
