---
layout: "default.hbs"
---
<section id="top" class="wrapper code-example">

{{#if page.sidebar}}
<div class="container">
    <div class="grid">
        <div class="grid__cell one-quarter">
            {{inc src=page.sidebar}}
        </div>
        <div class="grid__cell three-quarters">
            <article class="doc-wrapper">
                <h1 class="text--center">{{page.title}}</h1>
                {{ content }}
            </article>
        </div>
    </div>
</div>
{{else}}
<div class="container">
    <article class="doc-wrapper">
        <h1 class="text--center">{{page.title}}</h1>
        {{ content }}
    </article>
</div>
{{/if}}

</section>


<script type="text/javascript">
    var nav = document.querySelector('.sticky-nav');
    var toggle = document.querySelector('.nav-toggle-btn');
    var toggleBtn = toggle.querySelector('a');

    toggle.addEventListener('click', function (e) {
        e.preventDefault();
        nav.classList.toggle("active");
        var state = toggle.classList.toggle("active");
        if (state) {
            toggleBtn.innerHTML = "Close X";
        } else {
            toggleBtn.innerHTML = "Menu";
        }
    });
</script>