<footer class="wrapper signup" role="contentinfo">
    <div class="container">
        <p class="signup__title">Stay up to date with the latest features</p>
        <form action="{{site.mailchimp.url}}" method="GET">
            <div class="signup__form">
                <input type="hidden" name="u" value="{{site.mailchimp.u}}"/>
                <input type="hidden" name="id" value="{{site.mailchimp.id}}"/>
                <input type="text" placeholder="Email..." name="MERGE0" class="input input--text form__email"/>
                <input type="submit" value="Signup" class="button button--primary form__submit"/>
            </div>
        </form>
        <div class="signup__links">
            <a href="{{site.links.source}}" title="Browsersync on Github">{{inc src="icon.hbs" icon="github" class=""}}</a>
            <a href="{{site.links.twitter}}" title="@Browsersync on Twitter">{{inc src="icon.hbs" icon="twitter" class=""}}</a>
            <a href="{{site.links.slack}}" title="Browsersync Slack Team">{{inc src="icon.hbs" icon="slack" class=""}}</a>
        </div>
    </div>
</footer><!-- end .site-footer -->

<div class="credit">
    <div class="container">
        <nav>
            <ul class="site-nav">
                {{#each site.footer-navigation}}
                <li class="nav__item {{#current this.url}}active{{/current}}"><a href="{{this.url}}" class="nav-link">{{ this.label }}</a></li>
                {{/each}}
                <li class="nav__item credit__thumb">
                    <span>An open source project by</span>
                    <a href="{{site.links.jh}}" class="nav-link"><img src="/img/jh-logo-white.png" alt="JH"/></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script src="/js/dist/app.min.js"></script>

{{#if_eq site.env "production"}}
    {{inc src="_includes/analytics.hbs" }}
{{/if_eq}}
