<footer class="wrapper signup" role="contentinfo">
    <div class="container">
        <p class="signup__title">Reach out on Twitter or Github</p>
        <div class="signup__links">
            <a href="{{site.links.twitter}}" title="@Browsersync on Twitter">{{inc src="icon.hbs" icon="twitter" class=""}}</a>
            <a href="{{site.links.source}}" title="Browsersync on Github">{{inc src="icon.hbs" icon="github" class=""}}</a>
        </div>
    </div>
</footer><!-- end .site-footer -->

<div class="credit">
    <div class="container">
        <nav>
            <ul class="site-nav">
                {{#each site.footer-navigation}}
                <li class="nav__item {{#current this.url}}active{{/current}}"><a href="{{this.url}}" class="nav-link">{{ this.label }}</a></li>
                {{/each}}
            </ul>
        </nav>
    </div>
</div>
<div class="credit">
    <div class="container">
        <p class="prev"><small>Previously supported by <a href="https://wearejh.com/">JH</a></small></p>
    </div>
</div>

<script src="/js/app.min.js"></script>
