<header class="wrapper site-header{{#if_eq page.url "/"}}{{else}} alt{{/if_eq}}" role="banner">
    <div class="container">
        {{#if_eq page.url "/"}}
        <nav>
            <ul class="site-nav">
                <li class="nav__item logo">
                    <a href="/">{{inc src="icon.hbs" icon="logo" class=""}} {{site.title}}</a>
                </li>
                {{#each site.navigation}}
                <li class="nav__item"><a href="{{this.url}}">{{ this.label }}</a></li>
                {{/each}}
                <li class="nav__item"><a href="">Contributions</a></li>
                <li class="nav__item nav__item--right">
                    <a href="{{site.links.source}}" title="Browsersync on Github">{{inc src="icon.hbs" icon="github" class=""}}</a>
                    <a href="{{site.links.twitter}}" title="@Browsersync on Twitter">{{inc src="icon.hbs" icon="twitter" class=""}}</a>
                </li>
            </ul>
        </nav>
        {{else}}
        <h1 class="site-title alt"><a href="/">{{site.title}}</a> / <span><a href="/docs">documentation</a></span></h1>
        <ul class="nav--inline docs-nav">
            {{#each site.docs-navigation}}
            <li><a href="{{this.url}}" {{#current this.url}}class="active"{{/current}}>{{ this.label }}</a></li>
            {{/each}}
        </ul>
        {{/if_eq}}
    </div>
</header><!-- .end .site-header -->
