<aside class="">
    <div class="banner">
    <div class="banner__logo">
        <img class="" src="https://thenetawards.com/images/net/net_awards-logo15.svg" alt="">
    </div>
    <div class="banner__content">
        <p><b>Pssssst!</b> Browsersync has been nominated for Open Source Project of the Year! <br/>If you use and love this tool as much as we do, please take a moment and <a href="https://thenetawards.com/vote/open-source/browsersync/">vote for us</a> - it will make all the difference. Thank you!</p>
    </div>
    </div>
</aside>
<header class="wrapper wrapper--dark site-header{{#if_eq page.url "/"}}{{else}} alt{{/if_eq}}" role="banner">
    <div class="container">
        {{#if_eq page.url "/"}}
        <a class="site-logo" href="/">{{site.title}}</a>
        <ul class="nav--inline site-nav">
            {{#each site.navigation}}
            <li><a href="{{this.url}}">{{ this.label }}</a></li>
            {{/each}}
        </ul>
        {{else}}
        <h1 class="site-title alt"><a href="/">{{site.title}}</a> / <span><a href="/docs">documentation</a></span></h1>
        <ul class="nav--inline docs-nav">
            {{#each site.docs-navigation}}
            <li><a href="{{this.url}}" {{#current this.url}}class="active"{{/current}}>{{ this.label }}</a></li>
            {{/each}}
        </ul>
        {{/if_eq}}
    </div>
</header><!-- .end .site-header -->
