**In this section:**

<ul class="nav nav-stacked">
    <li><a href="#installation">Installation</a></li>
    <li><a href="#requirements">Requirements</a></li>
    <li><a href="#windows-users">Windows Users</a></li>
</ul>

{{inc src="headerlink" title="Installation" slug="installation"}}

####Global Install
If you would like to run BrowserSync from the command line in any directory, it
can be installed `globally` with the following command.


```bash
$ npm install -g browser-sync
```

####Local Install
This is the prefered way to use BrowserSync - installing it locally to each project. This
way the dependency can be added to your package.json file and everyone on your team.

```bash
$ npm install browser-sync --save-dev
```

**WARNING - do not use sudo!** If you're running `Mac OSX` and encounter problems when trying to install BrowserSync - either
globally or locally, it's almost always because you have problems with NPM permissions. Checkout [their docs]({{site.links.npmdocs}})
for a guide on how to fix this once and for all - it only takes 2 minutes :)

{{inc src="headerlink" title="Requirements" slug="requirements"}}

BrowserSync works by injecting an asynchronous script tag (`<script async>...</script>`) right after the `<body>` tag
during initial request. In order for this to work properly the `<body>` tag must be present. Alternatively you
can provide a custom rule for the snippet using [snippetOptions]({{site.links.snippet}})

{{inc src="headerlink" title="Windows users" slug="windows-users"}}

Having trouble installing BrowserSync on Windows? It appears that the most reliable way to solve this
is for you to *first* install a version of Visual Studio (even the free ones). This will install some system-wide tools that
will enable you to install BrowserSync without a problem. Alternatively, it has been pointed out that the following
command will also work for Windows users.

```bash
npm install -g browser-sync --msvs_version=2013
```