---
layout: "documentation.hbs"
title: "Browsersync API"
sidebar: "api-sidebar.hbs"
markdown: false
---

{{#md}}Our API is incredibly simple & powerful. You can use it to create your own
tiny node program for local development or integrate with other tools. To use it,
simply `require` the Browsersync module like you would any other. This will give
you access to the public methods detailed below.{{/md}}

<p><strong>Pre 2.0.0 syntax</strong><br/>
Previously we allowed methods to be called directly on the module export like this:
</p>

{{#hl lang="js"}}
// require the module as normal
var browserSync = require("browser-sync");

// Start the server
browserSync({server: "./app"});

// Call methods like reload
browserSync.reload("core.css");
{{/hl}}

<p><strong>Post 2.0.0 syntax (recommended)</strong><br/>
Whilst the above is still supported, we now recommend the following instead. Calling <code>.create()</code> means you get
a unique reference & allows you to create multiple servers or proxies.
</p>

{{#hl lang="js"}}
// require the module as normal
var bs = require("browser-sync").create();

// .init starts the server
bs.init({
    server: "./app"
});

// Now call methods on bs instead of the
// main browserSync module export
bs.reload("*.html");
{{/hl}}


{{#each api}}

{{inc src="_includes/headerlink.html" slug=this.name title=this.preview prefix="api-"}}
<p>{{$md inlinesrc=this.description}}</p>

{{#if this.params.length}}
    {{#loop this.params}}
    <ul class="param-list" id="api-{{this.name}}">
        <li class="name"><a href="#api-{{ this.name }}" class="page-anchor">{{ this.name }}</a></li>
        <li class="type">Type: <span class="color-teal">{{ this.type }}</span>
            {{#if this.optional}}<span class="recede">[optional]</span>{{/if}}
        </li>
        <li class="desc">{{$md inlinesrc=this.description}}</li>
    </ul>
    {{/loop}}
{{/if}}

{{#if this.since}}
    <p class="lede warning"><b>Note: </b> requires at least version {{ since }}</p>
{{/if}}

{{#if this.snippetpath}}
{{hl src=this.snippetpath}}
{{/if}}

{{/each}}
