---
layout: "documentation.hbs"
title: "BrowserSync Command Line Usage"
sidebar: "cli-sidebar.hbs"
items:
    - title: "Files Examples"
      slug:  "files-example"
      file:  "snippets/commands/files.sh"
    - title: "Server Examples"
      slug:  "server-example"
      file:  "snippets/commands/server.sh"
    - title: "Proxy Examples"
      slug:  "proxy-example"
      file:  "snippets/commands/proxy.sh"
    - title: "Watching files + Server"
      slug:  "watching-files-example"
      file:  "snippets/commands/watching.sh"
markdown: true
---

For **tinkering** or quick examples and playing around, the command-line usage can be quite helpful.
After install BrowserSync globally, you can run it like this:

{{#hl lang="bash" }}
$ browser-sync start <options>
{{/hl}}

{{inc src="headerlink.html" title="start options" slug="command-line-options" }}

<table class="commands-list">
    {{#each startCommands}}
        <tr>
            <td>--{{@key}}</td>
            <td>{{this}}</td>
        </tr>
    {{/each}}
</table>



{{#loop page.items}}
{{inc src="headerlink.html" title=this.title slug=this.slug }}
{{hl src=this.file}}
{{/loop}}


{{inc src="headerlink.html" title="reload options" slug="command-line-options" }}

<table class="commands-list">
    {{#each reloadCommands}}
        <tr>
            <td>--{{@key}}</td>
            <td>{{this}}</td>
        </tr>
    {{/each}}
</table>

{{inc src="headerlink.html" title="reload over http protocol" slug="command-line-options" }}

{{#hl}}
$ browser-sync reload
{{/hl}}

{{inc src="headerlink.html" title="reload over http protocol with port" slug="command-line-options" }}

{{#hl}}
$ browser-sync reload --port 4000 --files="*.css"
{{/hl}}

{{inc src="headerlink.html" title="reload over http protocol with full url" slug="command-line-options" }}

{{#hl}}
$ browser-sync reload --url https://localhost:3000 --files="*.css"
{{/hl}}

