<section class="wrapper jh">
    <div class="container">
        <a href="{{site.links.jh}}" class="jh__logo"><img src="/img/jh-logo.png" alt=""/></a>
        <h3 class="jh__title">An open source project by JH</h3>
        <p class="jh__text ">BrowserSync is an open-source project created and maintained by the
            front-end designers/developers at <a href="{{site.links.jh}}" title="visit http://wearejh.com">JH</a>. Together with contributors from all over the world,
            we aim to make modern, multi-device web development faster & easier.</p>
        <p class="jh__links">
            <a href="{{site.links.source}}" title="Browsersync on Github">{{inc src="icon.hbs" icon="github" class=""}}</a>
            <a href="{{site.links.twitter}}" title="@Browsersync on Twitter">{{inc src="icon.hbs" icon="twitter" class=""}}</a>
        </p>
    </div>
</section>
