<section class="wrapper jh">
    <div class="container">
        <h3 class="jh__title">Depended on by thousands</h3>
        <p class="jh__text ">Browsersync is an open-source project with over 2 million npm downloads a month and
            is a dependency of nearly a
            <a href="{{site.links.dependants}}" title="Dependants Browsersync on Github">million</a>
            separate projects on github.
        </p>
        <p class="jh__links">
            <a href="{{site.links.source}}" title="Browsersync on Github">{{inc src="icon.hbs" icon="github" class=""}}</a>
            <a href="{{site.links.twitter}}" title="@Browsersync on Twitter">{{inc src="icon.hbs" icon="twitter" class=""}}</a>
        </p>
    </div>
</section>
